{% extends "layout.html.twig" %}

{% set JS = [ '/assets/js/pages/main.js' ] %}

{% macro item_view(catalog, item) %}
  {% set item_prices = catalog.get_item_prices(item.catalog_id) %}
  <div class="col-lg-3 col-sm-4">
    <div class="panel catalog-item {% if item_prices|length > 0 %}presenced{% else %}absenced{% endif %}">
      <h2>{{ item.group_name }}-{{ "%03d"|format(item.catalog_id) }}</h2>
      <div class="item-body">
        <a href="/item/{{ item.catalog_id }}" target="_blank">
          <img src="/ci/{{ item.catalog_id }}-1.jpg">
          <div class="caption">{{ item.name }}</div>
        </a>
        <div class="price">
          {% if item_prices|length > 0 %}
          <a class="prices-popover" role="button" data-trigger="hover" data-toggle="popover" title="При сумме заказа:">
            <span id="{{ item.catalog_id }}_price">{{ item_prices|last['price']|localizedcurrency('RUR') }}</span>
          </a>
          {% else %}
            <small>НЕТ НА СКЛАДЕ</small>
          {% endif %}
          <div class="popup hidden">
            {% for item_price in item_prices %}
              <div class="clearfix nobr">
              {% if item_price.min_total %}
                  <span>До {{ item_price.min_total|localizedcurrency('RUR') }}</span><span class="pull-right">{{ item_price.price|localizedcurrency('RUR') }}</span>
                {% set last_min_total = item_price.min_total %}
              {% else %}
                  <span>Более {{ last_min_total|localizedcurrency('RUR') }}</span><span class="pull-right">{{ item_price.price|localizedcurrency('RUR') }}</span>
              {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="clearfix to_cart">
        <a class="btn btn-primary btn-sm pull-right {% if item_prices|length == 0 %}disabled{% endif %}" data-catalog_id="{{ item.catalog_id }}" role="button">
          <span class="glyphicon glyphicon-shopping-cart"></span> В корзину
        </a>
        <input type="text" value="1" class="touchspin input-sm" {% if item_prices|length == 0 %}disabled{% endif %}>
      </div>
    </div>
  </div>
{% endmacro %}

{% block content %}

<ul id="marking-tab" class="nav nav-tabs">
  <li class="active"><a data-toggle="cca-page" href="#cca-page">CCA</a></li>
  <li><a data-toggle="cu-page" href="#cu-page">CU</a></li>
</ul>

<div class="tab-content catalog">
  <div id="cca-page" class="tab-pane fade in active">

    <div class="row">

    {% for item in catalog.items()['cca'] %}
      {{ _self.item_view(catalog, item) }}
    {% endfor %}

    </div>

  </div>
  <div id="cu-page" class="tab-pane fade">

    <div class="row">

    {% for item in catalog.items()['cu'] %}
      {{ _self.item_view(catalog, item) }}
    {% endfor %}

    </div>

  </div>
</div>

{% endblock %}
